.cards__item {
  width: 240px;
  padding: 0;
  margin: 0 100px 0 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  z-index: 1;
  text-align: center;
 }

.cards__item:nth-of-type(3) {
  margin: 0;
}
