.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.link {
  color: #2f80ed;
  text-decoration: none;
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
  width: 1100px;
  margin: 0 auto;
  z-index: 1;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0 auto 20px auto;
  text-align: center;
  z-index: 1;
  position: relative;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  z-index: 1;
  position: relative;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  z-index: 1;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0 0;
  z-index: 1;
}

.table__cell {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  z-index: 1;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  overflow: hidden;
  /* выше установили ограничения для секции */
}

.logo {
  z-index: 1;
}

.logo_place_header {
  top: 30px;
  left: 64px;
  position: absolute;
}

.header__title {
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  margin: 0 0 0 64px;
  align-self: center;
  z-index: 2;
}

.header__subtitle {
  width: 388px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
  margin: 0;
}

.header__link {
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
}

.two-columns {
  display: flex;
  align-items: center;
  margin: 100px auto;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  align-self: flex-start;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__main-text:not(:last-child) {
  margin-bottom: 30px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.table_theme_white {
  padding: 100px 0;
}

.table__cell_theme_white {
  width: 250px;
  margin: 60px 0 0 0;
}

.feynman {
  background-color: #f2f2f2;
  position: relative;
  z-index: 0;
  min-height: 890px;
  padding-top: 100px;
  margin: 0;
}

.feynman__main-illustration {
  position: absolute;
  z-index: 1;
  width: 867px;
  height: 637px;
  left: 0;
  bottom: 0;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 0;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: relative;
  z-index: 2;
  text-align: center;
  margin: 70px 0 0 0;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  top: 50%;
  right: 48px;
  position: absolute;
  z-index: 2;
}

.table_theme_dark {
  color: #f2f2f2;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  padding: 90px 0;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  margin: 80px 0 0 0;
  display: flex;
}

.kaufman__triangle {
  background-image: url("../images/kaufman-triangle.svg");
  background-size: contain;
  position: absolute;
  z-index: 0;
  height: 877px;
  width: 877px;
  top: 0;
  right: -210px;
}

.footer {
  background-color: #1f1f1f;
  color: white;
  min-height: 350px;
  margin: 0;
  padding: 60px 0 40px 0;
  display: flex;
  box-sizing: border-box;
}

.footer__columns {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
  margin: 0;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.footer__column-links, .footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer__column-link:last-child {
  margin-bottom: 16px;
}

.footer__column-links:last-child {
  margin-bottom: 16px;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}


